<html>
  <head>
    <meta charset="utf-8">
    <title>Word Frequency Search</title>
  </head>
  <body>
    <form action="/result" method="post">
      <p>Please Enter a sentence: </p>
      <input type="text" name="user_sentence" value="">
      <p>Please Enter a word to count: </p>
      <input type="text" name="user_word" value="">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
