<html>
  <head>
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
    <script src='js/jquery-3.1.0.js'></script>
    <script src='js/bootstrap.min.js' type='text/javascript'></script>
    <script src='js/scripts.js'></script>
    <title>Word Frequency Result</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6" id ='main'>
          {% if result == 1 %}
          <h1>Your word showed up {{ result }} time </h1>
          {% elseif result > 1%}
          <h1>Your word showed up {{ result }} times </h1>
          {% else %}
          <h1>Your word "{{ word }}" does not appear in this sentence </h1>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
